/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ID]
      ,[NOMEDOPRODUTO]
      ,[PREÇODOPRODUTO]
  FROM [BDCADASTRO].[dbo].[PRODUTO]


  Select Max(PREÇODOPRODUTO) as PREÇOMAX from PRODUTO
  
  Select Min(PREÇODOPRODUTO) as PREÇOMIN from PRODUTO  

  Select AVG(PREÇODOPRODUTO) as MÉDIA from PRODUTO 
   
  Select SUM(PREÇODOPRODUTO) as SOMA from PRODUTO

  Select COUNT(*) from PRODUTO

  Select COUNT(DISTINCT NOMEDOPRODUTO) from PRODUTO

  Select Count("NOMEDOPRODUTO")
  FROM "PRODUTO"

  Select NOMEDOPRODUTO, SUM (PREÇODOPRODUTO)
  FROM PRODUTO 
  WHERE NOMEDOPRODUTO LIKE '%Shampoo Gabu'
  GROUP BY NOMEDOPRODUTO 

   Select NOMEDOPRODUTO, SUM (PREÇODOPRODUTO)
  FROM PRODUTO 
  WHERE NOMEDOPRODUTO LIKE '%B'
  GROUP BY NOMEDOPRODUTO 

  Select NOMEDOPRODUTO, SUM (PREÇODOPRODUTO)
  FROM PRODUTO 
  GROUP BY NOMEDOPRODUTO 
  HAVING SUM(PREÇODOPRODUTO) <10

  SELECT CONCAT(NOMEDOPRODUTO, PREÇODOPRODUTO) from PRODUTO 
  WHERE NOMEDOPRODUTO like '%B'

  SELECT CONCAT(NOMEDOPRODUTO, PREÇODOPRODUTO) as concatenar
  from PRODUTO
  where NOMEDOPRODUTO like 'b%'
    
 SELECT SUBSTRING(NOMEDOPRODUTO,1,5)
 from PRODUTO
 where NOMEDOPRODUTO = 'Óleo Iglu'

 SELECT LEN(NOMEDOPRODUTO) FROM PRODUTO WHERE  ID = 5

 SELECT REPLACE(NOMEDOPRODUTO,'poo','bu') from PRODUTO

 SELECT REPLACE(NOMEDOPRODUTO,'poo','bu') from PRODUTO WHERE ID=2

 SELECT * FROM PRODUTO

 /*AULA 7*/
 
  
