--LAURA XAVIER CHAGAS 2DSV



--AULA 03 
SELECT TOP (1000) [IDCLIENTE]
      ,[NOME]
      ,[IDADE]
      ,[TELEFONE]
      ,[ENDERECO]
      ,[EMAIL]
  FROM [BDCADASTRO].[dbo].[CLIENTE]


  SELECT NOME FROM CLIENTE
  SELECT NOME, IDADE FROM CLIENTE
  SELECT NOME, TELEFONE, EMAIL FROM CLIENTE
  SELECT EMAIL, NOME, IDADE FROM CLIENTE
  SELECT NOME, IDADE FROM CLIENTE WHERE IDADE=40
  SELECT NOME FROM CLIENTE WHERE NOME='ANDRÉ'
  SELECT * FROM CLIENTE
  SELECT NOME FROM CLIENTE WHERE NOME LIKE 'A_%'
  SELECT NOME FROM CLIENTE WHERE NOME LIKE 'AN%'
  SELECT NOME, IDADE FROM CLIENTE ORDER BY IDADE 
  SELECT NOME, IDADE FROM CLIENTE ORDER BY IDADE ASC
  SELECT NOME, IDADE FROM CLIENTE ORDER BY IDADE DESC
  SELECT NOME, IDADE FROM CLIENTE ORDER BY NOME
  SELECT NOME, IDADE FROM CLIENTE WHERE NOME NOT IN ('MARCELO FONTANA','ANDRÉ ANTUNES')
  SELECT NOME, IDADE FROM CLIENTE WHERE NOME NOT IN ('MARCELO FONTANA')
  SELECT NOME, IDADE FROM CLIENTE WHERE IDADE BETWEEN 20 AND 40
  SELECT NOME, IDADE FROM CLIENTE WHERE NOME IN ('MARCELO FONTANA', 'LAURA XAVIER CHAGAS')
  SELECT NOME, IDADE FROM CLIENTE WHERE IDADE IN (30,40)
  SELECT NOME, IDADE FROM CLIENTE WHERE IDADE NOT IN (15,30)


  --ARQUIVO AULA 04
  SELECT IDCLIENTE, NOME, IDADE FROM CLIENTE WHERE NOME LIKE 'M%'
  SELECT IDCLIENTE, NOME, IDADE FROM CLIENTE WHERE IDADE LIKE '1%'
  SELECT IDCLIENTE, NOME, IDADE FROM CLIENTE WHERE NOME LIKE 'I%'
  SELECT IDCLIENTE, NOME, IDADE FROM CLIENTE WHERE NOME LIKE 'A%'
  SELECT IDCLIENTE ='2', NOME, IDADE FROM CLIENTE WHERE IDCLIENTE LIKE 'M%'


 --ARQUIVO AULA 05
 CREATE VIEW VW_CLIENTE
AS 

SELECT NOME, IDADE FROM CLIENTE
WHERE IDCLIENTE <> 0

SELECT * FROM VW_CLIENTE

SELECT * FROM CLIENTE

INSERT INTO VW_CLIENTE VALUES ('GUILHERMINO', 91)

UPDATE VW_CLIENTE SET IDADE='66' WHERE NOME='VALQUIRIA PEREIRA'

DELETE FROM VW_CLIENTE WHERE NOME='GUILHERMINO'


ALTER VIEW VW_CLIENTE  AS
	SELECT IDCLIENTE, NOME, IDADE FROM CLIENTE
	WHERE IDCLIENTE <>0

